Repository simplybusiness/Kiln, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, data-collector, documentation

Docs: Added link to article introducing ES to README
  README.md
Labels: documentation

data-collector: Added support for loading environment specific config for tags, security groups and subnet ids
  data-collector/serverless.yml
Labels: data-collector

data-collector: Added README
  data-collector/README.md
Labels: data-collector

Meta: Added additional checklist to PR template for new tools
  .github/pull_request_template.md
Labels: none

Docs: Updated Kiln Architecture Diagram with clearer naming
  docs/images/Kiln Architecture diagram.png
Labels: documentation

Docs: Clarified and reworked the Architecture section of the README
  README.md
Labels: documentation

Docs: Update URL for architecture diagram in README
  README.md
Labels: documentation

Docs: Removed list of planned tools and connectors
  README.md
Labels: documentation

.github/labeler.yml:

CI:
- .github/workflows/**

data-collector:
- data-collector/**

documentation:
- docs/**
- README.md
