Repository simplybusiness/Kiln, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, cli, data-collector, documentation, kiln_lib, tool, data-forwarder, report-parser, slack-connector

Data-collector: Update cargo dependencies
  data-collector/Cargo.lock
Labels: data-collector

Slack-connector: Update cargo dependencies
  slack-connector/Cargo.lock
Labels: slack-connector

CLI: Update cargo dependencies
  cli/Cargo.lock
Labels: cli

Data-forwarder: Update cargo dependencies
  data-forwarder/Cargo.lock
Labels: data-forwarder

Kiln-lib: Update cargo dependencies
  kiln_lib/Cargo.lock
Labels: kiln_lib

Report-parser: Update cargo dependencies
  report-parser/Cargo.lock
Labels: report-parser

Data-collector: Update kiln_lib dependency
  data-collector/Cargo.lock
Labels: data-collector

Data-forwarder: Update kiln_lib dependency
  data-forwarder/Cargo.lock
Labels: data-forwarder

Slack-connector: Update kiln_lib dependency
  slack-connector/Cargo.lock
Labels: slack-connector

Report-parser: Update kiln_lib dependency
  report-parser/Cargo.lock
Labels: report-parser

Data-collector: Update kiln_lib dependency
  data-collector/Cargo.lock
Labels: data-collector

Report-parser: Update kiln_lib dependency
  report-parser/Cargo.lock
Labels: report-parser

Slack-connector: Update kiln_lib dependency
  slack-connector/Cargo.lock
Labels: slack-connector

Data-forwarder: Update kiln_lib dependency
  data-forwarder/Cargo.lock
Labels: data-forwarder

Docs: Make domain name examples in deployment and cleanup instructions consistent with DNS section changes
  docs/quickstart/README.md
Labels: documentation

.github/labeler.yml:

CI:
- .github/workflows/**

cli:
- cli/**

data-collector:
- data-collector/**

documentation:
- docs/**
- README.md

kiln_lib:
- kiln_lib/**

tool:
- tool-images/**

data-forwarder:
- data-forwarder/**

report-parser:
- report-parser/**

slack-connector:
- slack-connector/**
