Repository simplybusiness/Kiln, pull requests merged in 2019-11, with the labels that each got.

#71 Kiln lib try from impl
  kiln_lib/src/lib.rs
Labels: kiln_lib

#72 kiln_lib: Fix missing JSON field name in validation error
  kiln_lib/src/lib.rs
Labels: kiln_lib

#74 Adding a display and error implementation for ValidationError
  kiln_lib/src/lib.rs
Labels: kiln_lib

#73 Move Diagram source into repo
  README.md
  docs/images/AWS Diagram for Kiln MSK.drawio
  docs/images/AWS Diagram for Kiln MSK.png
  docs/images/AWS Diagram for Kiln MSK.svg
  docs/images/Kiln Architecture diagram.drawio
  docs/images/Kiln Architecture diagram.png
  docs/images/Kiln Architecture diagram.svg
  docs/suggested_kafka_deployment.md
Labels: documentation

#75 CI: Cargo caching
  .github/workflows/continuous-integration-workflow.yml
Labels: CI

#79 Kiln_lib: Fix typo in Avro schema
  kiln_lib/README.md
  kiln_lib/src/lib.rs
Labels: kiln_lib

#78 Data forwarder
  .github/workflows/continuous-integration-workflow.yml
  .gitignore
  Makefile.toml
  data-forwarder/Cargo.lock
  data-forwarder/Cargo.toml
  data-forwarder/Makefile.toml
  data-forwarder/README.md
  data-forwarder/src/main.rs
  gen_certs.sh
Labels: CI

#80 Data collector branch name optional
  data-collector/Cargo.lock
  data-collector/src/main.rs
Labels: data-collector

#82 Tool: Bundler audit
  .github/labeler.yml
  .github/workflows/continuous-integration-workflow.yml
  .gitignore
  Makefile.toml
  data-collector/Makefile.toml
  data-forwarder/Makefile.toml
  docs/integration_testing.md
  tool-images/ruby/bundler-audit/Dockerfile
  tool-images/ruby/bundler-audit/Makefile.toml
  tool-images/ruby/bundler-audit/entrypoint.sh
Labels: CI, data-collector, data-forwarder, documentation, tool
