Repository simplybusiness/Kiln, pull requests merged in 2021-02, with the labels that each got.

#288 Kiln_lib: When serialising a value that is an Option::None, do not add a null value to the serialised value
  kiln_lib/src/log.rs
Labels: kiln_lib

#291 Safety cli update
  cli/src/main.rs
Labels: cli

#292 New job for building Safety docker image
  .github/workflows/build-docker-images.yml
Labels: CI
