Repository simplybusiness/Kiln, pull requests merged in 2021-05, with the labels that each got.

#402 Kiln use cases documentation
  README.md
Labels: documentation

#426 Kiln_lib: Upgrade Actix-web to latest beta
  kiln_lib/Cargo.lock
  kiln_lib/Cargo.toml
  kiln_lib/src/validation.rs
Labels: kiln_lib

#427 Data-collector: Upgrade actix_web to latest beta
  data-collector/Cargo.lock
  data-collector/Cargo.toml
Labels: data-collector

#428 CLI: Update indicatif dependency
  cli/Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
Labels: cli
